DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_TIME_ZONE=Europe/Berlin
DJANGO_SEED_DEMO_DATA=0
DJANGO_SEED_REGULAR_USER=1
DJANGO_SEED_SUPERUSER_ONLY=0
POSTGRES_DB=plannit
POSTGRES_USER=plannit
POSTGRES_PASSWORD=plannit
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123
